{% extends 'base.html' %}
{% load static %}
{% block title %}À propos | QUATALYSE{% endblock %}
{% block content %}

<section class="py-5">
  <div class="container" data-aos="fade-right">
    <h2 class="fw-bold mb-4">À propos de nous</h2>
    <p>QUATALYSE est un cabinet conseil en QHSE, innovation et développement durable, spécialisé dans le conseil, l’accompagnement, l’audit et la formation.</p>
    <ul>
      <li><b>Mission :</b> Accompagner les entreprises dans leurs projets, renforcer leurs compétences et favoriser un développement durable.</li>
      <li><b>Vision :</b> Devenir le cabinet leader en QHSE, formation et innovation au Sénégal et en Afrique.</li>
      <li><b>Valeurs :</b> Rigueur, Créativité, Intégrité, Confidentialité, Cohésion d’équipe.</li>
      <li><b>Objectif :</b> Garantir la satisfaction totale de nos clients et parties prenantes.</li>
    </ul>
  </div>
</section>

{% endblock %}
