{% extends 'base.html' %}
{% load static %}
{% block title %}Formations | QUATALYSE{% endblock %}
{% block content %}

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="fw-bold text-center mb-5" data-aos="fade-up">Nos Formations</h2>
    <div class="row">
      <div class="col-md-6" data-aos="fade-right">
        <h4>Management de la Qualité</h4>
        <ul>
          <li>ISO 9001</li>
          <li>Audit Qualité</li>
          <li>Certification SMQ</li>
        </ul>
      </div>
      <div class="col-md-6" data-aos="fade-left">
        <h4>Sécurité & Santé au Travail</h4>
        <ul>
          <li>ISO 45001</li>
          <li>Évaluation des risques professionnels</li>
          <li>Ergonomie</li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6" data-aos="fade-right">
        <h4>Environnement</h4>
        <ul>
          <li>ISO 14001</li>
          <li>Études d’impact environnemental</li>
          <li>ICPE</li>
        </ul>
      </div>
      <div class="col-md-6" data-aos="fade-left">
        <h4>Certifications Internationales</h4>
        <ul>
          <li>ISO 9001 LI/LA</li>
          <li>ISO 22000 LI/LA</li>
          <li>ISO 27001 LI/LA</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
